extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="https://github.com/katoy/katoy-sample", target="_blank") github
  br
  a(href="https://travis-ci.org/katoy/katoy-sample", target="_blank") travis build ステータス 